<h1>Flickr Home</h1>

<%= form_tag(show_path, method: 'post', class:'navbar-form navbar-right') do %>
    <div class="form-group">
      <%= text_field_tag :query, "", class: "form-control", placeholder: "Search" %>
    </div>
    <button type="submit" class="btn btn-info"> Search
    </button>
  <% end %>



<% if @photos.any? %>
<% @photos.each do |photo| %>
 <li>
   <div class="card blue-grey darken-1">
     <div class="card-content white-text">
    <%= image_tag photo.imgfile, :class => "photo-size" %>
    <%= link_to photo.title, photo_path(photo)%>
    </div>
  </div>

 </li>
 <% end %>
 <% else %>
<p>
  There are no photos
</p>
<% end %>
