
<h1>Results</h1>
<% if @photoArray.any? %>
  <% @photoArray.each do |photo| %>
  <%= image_tag photo.imgfile %>
  <% end %>
<% else %>
  <p>
    There are no photos with this tag name.
  </p>
<% end %>
